@charset "utf-8";
/* CSS Document */



/*文字*/
@-webkit-keyframes slideInUp-01 {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0;  
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;  
  }
}

@keyframes slideInUp-01 {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0;   
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
      opacity: 1;  
  }
}

/*角*/

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
      opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}
@-webkit-keyframes zoom-bs {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
      
  }

  50% {
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
    transform: translate3d(0,-4px,0);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zoom-bs {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
    transform: translate3d(0,-4px,0);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

  

@media screen and (min-width:481px) and (max-width:2050px){
    
body {
  width: 100%;
  background-color: #18171d;
  margin: 0;
  position: relative;
  display: block;
/*  overflow: hidden;*/
}
    
.warp {
    background-image: url(../images/bg/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;    
} 
    
.bg-bg{
  width: 1920px;
  height: 2831px;
  position: absolute;
  z-index: 10;
  top: 18%;
  left: 50%;
  margin: 0 0 0 -960px;
}    

        
/*透明底*/  
.warp-auto-tb{
  width: 100%;
  height: auto;
  display: none;
}
.warp-auto-mb{
  width: 100%;
  height: auto;
  display: none;
}

.center {
  width: 1500px;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.header {
  width: 100%;
  height: 840px;
  position: relative;
  z-index: 5;    
}
    
.bg{
  width: 1920px;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  margin: 0 0 0 -960px;
  left: 50%;
  display: block;
}



/*------------------動畫---------------------*/
    

.logo {
    position: absolute;
    z-index: 50;
    width: 34%;
    left: 16%;
    top:1%;
}

.fade-in_logo
{
    animation: 1s 1 forwards;
    -webkit-animation-name: fade-in_logo;
            animation-name: fade-in_logo;
    animation-delay: 0.2s;
}

.slogan-1 {
    position: absolute;
    z-index: 8;
    width: 30%;
    top: 5%;
    left: 19%;
    opacity: 1;
}


/*圖片訊息  角色*/
.dynamic-img-03 {
	position: absolute;
	z-index: 5;
    width: 80%;
	right: -18%;
    top:1%;
    opacity: 0;
}    
    
/*入場*/

.move-02{
  animation: 1.5s slideInRight forwards;
  animation-delay: 0.2s;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;  
}
     
    
.zoom-p{
  animation: 3s zoom-bs infinite;
  animation-delay: 0.2s;
  -webkit-animation-name: zoom-bs;
  animation-name: zoom-bs;  

}


/*文字入場*/

.move-01{
  animation: 0.7s slideInUp-01 forwards;
  animation-delay: 0.2s;
  -webkit-animation-name: slideInUp-01;
  animation-name: slideInUp-01;  
  opacity: 0;
}
       

/*歷史按扭*/
.header .store-btn {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
     position: absolute;
    top:60%;
    left: -21%;
}
/*
.header .total {
  display: inline-block;
  position: relative;
}
*/

/*儲值總額*/
.header .total h2 {
  color: #FFFD00;
  font-size: 18px;
  display: inline-block;
}

.header .total span {
  color: #fff;
  font-size: 18vmin;
  display: inline-block;
}

.center h1~p {
	color: #9a9a9a;
	font-size: 1vmin;
	line-height: 2.5vmin;
 	 padding: 1% 2%;
	word-wrap: break-word;
	white-space: pre-wrap;
	text-align: justify;
	text-justify: inter-ideograph;
	-ms-text-justify: inter-ideograph; /*IE9*/
	-moz-text-align-last: justify; /*Firefox*/
	-webkit-text-align-last: justify; /*Chrome*/
}


/*TOP*/
.Top-bar {
  height: 26px;
  padding: 15px 160px 0 0;
}
.Top-bar-pic {
    height: 26px;
    padding: 0 20px;
    width: 36%;
    position: absolute;
    left: 52%;
    z-index: 99;
    top:2%;
}
.loadingIn {
}
.loadingOut {
}
.Top-bar .top-btn {
  float: right;
  margin: 0 1%;
  height: 30px;
  overflow: hidden;
}


#top-btn-loadingIn {
  width: 80px;
  height: 26px;
  background-image: url(../images/loadingIn.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#top-btn-home {
  width: 80px;
  height: 26px;
  transition: all 400ms ease;
  background-image: url(../images/home.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
 float: right;    
  
}

#top-btn-loadingIn:hover {
  width: 80px;
  height: 26px;
  background-image: url(../images/loadingIn-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  float: right;
}
#top-btn-home:hover{
  width: 80px;
  height: 26px;
  transition: all 400ms ease;
  background-image: url(../images/home-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  float: right;  
}

.loadingOut .top-btn p {
  width: auto;
    color: #FFFFFF;
    font-size: 1.4vmin;
    height: 26px;
    line-height: 26px;
}
}
.loadingOut .top-btn p span {
  color: #FFFFFF;
  height: 30px;
  line-height: 30px;
  font-size: 1.4vmin;
}
.loadingOut .top-btn a {
  width: 75px;
  color: #FFFFFF;
  font-size: 1.4vmin;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
}
.loadingOut .top-btn a:hover {
  color: #04f7e8;
} 

/*區塊*/
.a1 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left;
}
    
.a1 .title {
    width: 100%;
    height: auto;
    margin: 3% 0;
    text-align: center;  
    }  

.a1 {
}
.a1 .step {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  margin: 4% 0 0 1%;
  position: relative;
}
.a1 .step li {
  width: 15%;
/*  margin: 0 0.1%;
  float: left;*/
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
/*.a1 .step::after{
  content: " ";
  width: 100%;
  height: 20px;
  display: block;
  position: absolute;
  background-image: url(../images/step-tp.png);
  background-repeat: no-repeat;  
  top: 10%;
  left: 0;
}*/
.a1 .step li img {

}
.a1 .step li .loading {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 40%;
}
 .a1 .step li .loading04 {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 40%; 
}
    
.a1 .loading p ,.loading04 p {
	font-size: 1.4vmin;
	line-height: 2vmin;
	color: #FFFFFF;	
}
   
.a1 .step li .loading a  {
  color:#00ffe4;
  font-size: 1.5vmin;
  font-weight: bold;
  text-decoration:underline;
}
.a1 .step li .loading a:hover {
  color:#FFD534;
}    
    
.a1 .step li .loading span  {
  color: #FFFFFF;  

}
.a1 .step li .loading.in .menber {
  width: 40%;
  color:  #e8ddcb;
  font-size: 1.4vmin;
  line-height: 2.3vmin;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.a1 .step li .loading.in span {
  color: #ff0000;
  font-size: 1.4vmin;
  line-height: 2.3vmin;
  font-weight: bold;
  display: inline-block;
}
    
 
.a1 .index-content {
  width: 100%;
  height: auto;
  margin: 4% 0;
 
}
.a1 .index-content li {
    width: 100%;
    height: auto;
    color: #ffffff;
    font-size: 1.4vmin;
    line-height: 2.4vmin;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: center;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;

    }
    


/*活動內容*/


.a2{
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left;
  margin-top: 11%;
}
.a2 .title {
    width: 100%;
    height: auto;
    margin: 1% 0;
    text-align: center;  
    } 

.a2 .index-content {
  width: 100%;
  height: auto;
  margin: 1% 0;
 
}

.a2 .index-content li {
    width: 100%;
    height: auto;
    color: #5f2618;
    font-size: 1.4vmin;
    line-height: 2.4vmin;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: center;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;

    }

.a2 .a2-box {
  width: 100%;
  height: 1000px;
  box-sizing: border-box;
  float: left;
  margin: 2% 0; 
}
    
.a2 .a2-box .box-01 {
 margin-left: 17%;
}  
    
   
.a2 .a2-box li {
  width: 37%;
  height: auto;
  float: left;
  position: relative;
} 

    
.a2 .a2-box li a {
 width: 131px;
 height: 34px;
  
}  

/*按扭*/
.stored {
    background-image: url(../images/btn-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 10%;
    left: 16%;
}

/*虛寶*/
.virtual {
  background-image: url(../images/btn-3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom:10%;
  left: 45%;
    
}

.stored:hover {
  background-image: url(../images/btn-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.virtual:hover {
  background-image: url(../images/btn-4.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
/*不可領取*/
.no-virtual {
  background-image: url(../images/btn-5.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;    
  bottom:10%;
  left: 45%; 
}

.a2 .a2-box .box-5000 {
    width: 100%;
    height: 444px;
    float: left;
    margin: 2% 0 0 16%;
    position: relative;
}    
    
/*按扭*/
.box-5000 .stored-5000 {
    background-image: url(../images/btn-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 131px;
    height: 34px;
    z-index: 10;
    bottom: 4%;
    left: 15%;
}



.box-5000 .stored-5000:hover {
  background-image: url(../images/btn-2.png);
  background-repeat: no-repeat;
  background-size: 100%;

}
    
/*虛寶*/
.box-5000 .virtual-5000 {
background-image: url(../images/btn-3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 131px;
    height: 34px;
    z-index: 10;
    bottom: 4%;
  left: 25%; 
}    
    
.box-5000 .virtual-5000:hover {
  background-image: url(../images/btn-4.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
/*不可領取*/
.box-5000 .no-virtual-5000 {
  background-image: url(../images/btn-5.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute; 
  width: 131px;
  height: 34px; 
  bottom: 4%;
  left: 25%; 
   
}


.a3 {
  width: 100%;
  box-sizing: border-box;
  display: block;
  float: left;
}
    
.a3-title{
	width: 100%;
    height: auto;
    margin: 10% 0 0% 18%;
    text-align: left;
}
    
.a3 ul {
  padding: 2% 0 6% 18%;
}
.a3 ul li {
  color: #fff5cc;
  font-size: 1.3vmin;
  line-height: 3.5vmin;

}  
    
.a3 ul li a{
	color:#00ffe4;
    text-decoration:underline;
}
.a3 ul li a:hover{
	color:#A35E40;
    text-decoration:underline;
}

.a3 ul li #icon01{
	width: 19px;
	height: 22px;
	float: left;
	margin-right: 1%;
	background-image: url("../images/number.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.a3 ul li #icon02{
	width: 19px;
	height: 22px;
	float: left;
	margin-right: 1%;
	background-image: url("../images/number.png");
	background-position: 0px -22px;
}
.a3 ul li #icon03{
	width: 19px;
	height: 22px;
	float: left;
	margin-right: 1%;
	background-image: url("../images/number.png");
	background-position: 0px -44px;
}

.a3 ul li #icon04{
	width: 19px;
	height: 22px;
	float: left;
	margin-right: 1%;
	background-image: url("../images/number.png");
	background-position: 0px -66px;
}

.a3 ul li #icon05{
	width: 19px;
	height: 22px;
	float: left;
	margin-right: 1%;
	background-image: url("../images/number.png");
	background-position: 0px -88px;
}

.a3 ul li #icon06{
	width: 19px;
	height: 22px;
	float: left;
	margin-right: 1%;
	background-image: url("../images/number.png");
	background-position: 0px -110px;
}
.a3 ul li #icon07{
	width: 19px;
	height: 22px;
	float: left;
	margin-right: 1%;
	background-image: url("../images/number.png");
	background-position: 0px -132px;
}
.a3 ul li #icon08{
	width: 19px;
	height: 22px;
	float: left;
	margin-right: 1%;
	background-image: url("../images/number.png");
	background-position: 0px -154px;
}
.a3 ul li #icon09{
	width: 19px;
	height: 22px;
	float: left;
	margin-right: 1%;
	background-image: url("../images/number.png");
	background-position: 0px -176px;
}



/*-------------------------------footer-----------------------------------*/

.footer {
  width: 100%;
  min-height: 70px;
  max-height: 100px;
  /* [disabled]background-color: rgba(0,0,0,1.00); */
  z-index: 999;
  bottom: 0;
  padding: 1% 0;
  position: relative;
  box-sizing: border-box;
  background-color: #000000;
    float: left;
}
.footer .footer-ul{
  overflow: hidden;
}
.footer .footer-ul .footer-li{
  float:left;
  display: inline-block;
}
.footer .f-1{
  width: 20%; 
  text-align: right;
  }
.footer .f-2{
  width: 55%;  
  text-align: center;
  }
.footer .f-3{
  width: 10%;  
  text-align: left;
  }
.footerr img{
  position: relative;
}
.footer .footer_type {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
  font-size: 1.2vmin;
  line-height: 2vmin;
  text-align: left;
}
.footer .footer_type span {
  padding: 0 1%;
  color: #D5D5D5;
}

.footer .footer_type a {
  color: #2D1400;
}
.footer .footer_type a:hover {
	color: #ff6a1f;
}
.footer .footer_caveat {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
  font-size: 1.2vmin;
  line-height: 2.2vmin;
  color: #c2c3c4;
  text-align: center;
	padding-top: 2%;
}

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/


/*----------------------------------lightbox---------------------------*/

/*分享成功*/
#reach .content h3 {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	color: #003;
	text-align: center;
	display: block;
	height: 40px;
	width: 100%;
}
#reach .content .word {
	width: 100%;
  padding: 2% 0;
  box-sizing: border-box;
}
#reach .content p {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
  color: #EB0000;
  font-size: 1.5;
  text-align: center;
  line-height: 24px;
}

/*序號框*/
.serial{
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
	font-size: 14px;
	line-height: 40px;
	color: #FFF;
	background-color: #036;
	height: 40px;
	width: 80%;
	padding-right: 10px;
	padding-left: 10px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
  border-radius: 2px;
	
}
input[type="button"].btn-default{
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
	font-size: 16px;
	line-height: 30px;
	color: #FFF;
	background-color: #09F;
	text-align: center;
	display: block;
	width: 20%;
  border-radius: 2px;
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
		
	}
input[type="button"].btn-default:hover{
	background-color: #0CF;		
	}

/*分享不不不成功*/
#reach-no .content h3 {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	color: #003;
	text-align: center;
	display: block;
	height: 40px;
	width: 100%;
}



/*-----------------------------------------------------------------lightbox------*/
/* 設定好背景層的樣式以及位置 */
.lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;/* 預設透明度為 0，觸發 :target 後，利用動畫效果調整透明度 */
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	overflow: hidden;
	z-index: 99999;
}
/* 設定內容的樣式及位置(白底區塊) */
.lightbox-target .content {
  width: 40%;
  height: auto;
  background: #fff;
  color: #333;
  margin: auto;
  padding: 1%;
  position: relative;
  top: 40%;
  left: 30%;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid #fff;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  display: inline-block;
  overflow: hidden;
}
/* 設定圖片的樣式及位置，利用 */
.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;/* 預設寬高為 0，觸發 :target 後，利用動畫效果展開寬與高 */
  max-width: 0%;
  border: 3px solid #fff;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
/* 當 :target 觸發後，index-target 的透明度為 1；content &amp; img 的寬高為 100% */
.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}
.lightbox-target:target .content, .lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}
.lightbox-target:target .lightbox-close {
  top: 40%;
}

/* 關閉 Lightbox 按鈕的位置及樣式 */
.lightbox-close {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 0 0 0 30px;
  box-sizing: border-box;
  background: #139dd7;
  color: #fff;
  position: absolute;
  top: 40%;
  right: 30%;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
/* 利用偽元素做出 \ 以及 / 的線條，合併就變成 X 囉 */
.lightbox-close:before, .lightbox-close:after {
  content: " ";
  display: block;
  height: 20px;
  width: 1px;
  background: #fff;
  position: absolute;
  left: 17px;
  top: 2px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.lightbox-close:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/

/*------------------------登入前左邊框框--------------------------*/

/*頁籤*/
.abgne_tab {
	clear: left;
	width: 100%;
}
ul.tabs {
 width: 100%;
}

ul.tabs li {
  float: left;
  height: 3rem;
  width: 50%;
  border-bottom: thin solid #DEDEDF;
  box-sizing: border-box;
}

ul.tabs li a {
  cursor: pointer;
  display: block;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
  font-size: 1rem;
  color: #000;
  line-height: 2.9rem;
  text-align: center;
  box-sizing: border-box;
}
ul.tabs li a:hover {
	color: #ff6000;
  border-bottom: 2px solid #FF6000;
}
ul.tabs li.active a {
  color: #ff6000;
  border-bottom: 1px solid #FF6000;
}
ul.tabs li.active a:hover, ul.tabs li:active a {
  color: #ff6000;
  border-bottom: 1px solid #FF6000;
}

div.tab_container {
	clear: both;
	overflow: hidden;
	width: 100%;
}
div.tab_container .tab_content {
	position: relative;
	overflow: hidden;
  padding: 2%;
}


.login-module {
	width: 100%;
	overflow: hidden;
}

/*內容小標*/
.tab_content h2 {
	font-size: 16px;
}

/*驗證碼*/
.captcha-box{
 width: 100%;
 overflow: hidden;
 display: block;
 margin: 2% 0;
 box-sizing: border-box;
}
.tab_content  .captcha {
 width: 50%;
 float: left;
 margin: 0;
}
.tab_content  .captcha-img {
 max-width: 23%;
 max-height: 40px;
 padding: 1%;
}

/*看不清換一張*/
.login-noeye {
 width: 25%;
 height: 40px;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
	font-size: 12px;
	line-height: 40px;
	color: #09F;
	cursor: pointer;
 text-align: center;
}
.login-noeye:hover {
	color: #ff7700;
}

/*錯誤*/
.tab_content  .error {
 width: 100%;
 height: 20px;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 font-size: 12px;
 line-height: 20px;
 color: #FF0004;
 display: block;
}
/*忘記密碼*/
.login-forgetpw  {
 width: 100%;
 height: 20px;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 font-size: 12px;
 line-height: 20px;
	color: #09F;
 text-align: right;
 display: block;
}

/*其它登入方式*/
.login-other-p {
 font-size: 12px;
 line-height: 30px;
 font-weight: 500;
 color: #000;
 height: 30px;
 width: 100%;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 border-top: thin solid #CCCCCC;
}
/*其它登入方式*/
.login-other {
	width: 100%;
	margin-bottom: 5%;
	overflow: hidden;
}
.login-other li {
	float: left;
	margin-right: 3%;
}
.login-other li a {
 max-width: 40px;
 min-width: 40px;
 max-height: 40px;
 min-height: 40px;
 display: block;
}

/*按扭*/
input[type="button"]{
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 font-size: 20px;
 text-align: center;
 display: block;
 width: 100%;
 border-radius: 5px;
 cursor: pointer;
 border: 0px none;
 font-weight: bold;
  padding: 2%;
}

/*輸入框*/
input[type="text"],input[type="password"] {
	border: 1px solid #CCCCCC; /*背景色*/
	-moz-border-radius: 3px; /*Firefox*/
	-webkit-border-radius: 3px; /* Safari 和 Chrome*/
	border-radius: 3px; /* Opera 10.5+ */
	width: 100%;
  padding: 2.5% 2%;
	margin: 2% 0;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
	font-size: 12px;
  box-sizing: border-box;
}

/*登入*/
input[type="button"].login-in {
	color: #FFF;
	background-color: #ff7700;
}
input[type="button"].login-in:hover {
	background-color: #ff8d2a;
}
/*註冊*/
input[type="button"].login-register {
	color: #FFF;
	background-color: #2693ff;
}
input[type="button"].login-register:hover {
	background-color: #29a7ff;
}

/*註冊服條*/
.register-terms-box {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	width: 100%;
	margin: 3% 0;
}
input[type="checkbox"].checkbox {
 width: 20px;
 height: 20px;
 
}
/*同意*/
.register-terms-box  .register-agree {
	color: #333;
}
/*服務條款*/
.register-terms-box  .register-terms {
	color: #ff6a1f;
}


/*說明*/
.explain {
 width: 100%;
 margin: 5% 0;
 padding: 2%;
 border: thin solid #CCCCCC;
 background-color: #FFFFFF;
}
.explain p {
 color: #9a9a9a;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 font-size: 12px;
 line-height: 16px;
 word-wrap: break-word;
 white-space: pre-wrap;
 text-align: justify;
 text-justify: inter-ideograph;
 -ms-text-justify: inter-ideograph; /*IE9*/
 -moz-text-align-last: justify; /*Firefox*/
 -webkit-text-align-last: justify;
}

/*確認按扭*/
.forget-btn {
 background-color: #FF6000;
 position: relative;
 margin: 5% auto;
 box-sizing: border-box;
 color: #FFFFFF;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
}
.forget-btn:active ,.forget-btn:hover {
 background-color: #FF8339;
 display: block;
 color: #FFFFFF;
}


/*------------------------------------------------------------lightbox-loading-----*/
/* 設定好背景層的樣式以及位置 */
.lightbox-target-loading {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;/* 預設透明度為 0，觸發 :target 後，利用動畫效果調整透明度 */
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	overflow: hidden;
	z-index: 99999;
}
/* 設定內容的樣式及位置(白底區塊) */
.lightbox-target-loading .content {
  width: 40%;
  height: auto;
  background: #fff;
  color: #333;
  margin: auto;
  padding: 1%;
  position: relative;
  top: 20%;
  left: 30%;
  right: 0;
  bottom: 0;
  border: 3px solid #fff;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  display: inline-block;
}
/* 設定圖片的樣式及位置，利用 */
.lightbox-target-loading img {
  margin: auto;
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;/* 預設寬高為 0，觸發 :target 後，利用動畫效果展開寬與高 */
  max-width: 0%;
  box-sizing: border-box;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
/* 當 :target 觸發後，index-target 的透明度為 1；content &amp; img 的寬高為 100% */
.lightbox-target-loading:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}
.lightbox-target-loading:target .content, .lightbox-target-loading:target img {
  max-height: 100%;
  max-width: 100%;
}
.lightbox-target-loading:target .lightbox-close-loading {
  top: 20%;
}

/* 關閉 Lightbox 按鈕的位置及樣式 */
.lightbox-close-loading {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 0 0 0 30px;
  box-sizing: border-box;
  background: #139dd7;
  color: #fff;
  position: absolute;
  top: 20%;
  right: 30%;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
/* 利用偽元素做出 \ 以及 / 的線條，合併就變成 X 囉 */
.lightbox-close-loading:before, .lightbox-close-loading:after {
  content: " ";
  display: block;
  height: 20px;
  width: 1px;
  background: #08236a;
  position: absolute;
  left: 17px;
  top: 2px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.lightbox-close-loading:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}



/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/


@media screen and (min-width:300px)and (max-width:480px){
body {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  background-color: #1a1b20;
  background-image: url(../images/m-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.warp{
  width: 100%;
  display: block;
}
    
/*透明底*/  
.warp-auto-tb{
  width: 100%;
  height: auto;
  display: none;
}
.warp-auto-mb{
  width: 100%;
  height: auto;
  display: none;
}

.center {
  width: 96%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.header {
  width: 100%;
  min-height: 85vh;
  position: relative;
  text-align: center;
} 
    
.bg {
display: none;
}
    
/*商店按扭*/
.header .store-btn {
  width: 65%;
  display: inline-block;
  position:absolute;
  bottom:0%;
  left:18%;
}


/*大標*/
.center h1 {
  color: #fff;
  font-size: 20px;
  background-color: #7c3e90;
  display: inline-block;
}
.center h1~p {
	color: #9a9a9a;
	font-size: 1vmin;
	line-height: 2.5vmin;
 	 padding: 1% 2%;
	word-wrap: break-word;
	white-space: pre-wrap;
	text-align: justify;
	text-justify: inter-ideograph;
	-ms-text-justify: inter-ideograph; /*IE9*/
	-moz-text-align-last: justify; /*Firefox*/
	-webkit-text-align-last: justify; /*Chrome*/
}


/*登入顯示*/
    
.Top-bar {
    height: 3.8vh;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 2%;
    margin-left: -45%;
}
.loadingIn {
}
.loadingOut {
}
 .Top-bar .top-btn {
  float: right;
  height: auto;
  overflow: hidden;
 width: 100%; 
}
    
.loadingOut .top-btn p {
    width: auto;
    color: #ffffff;
    font-size: 1.4vmin;
    height: 3.8vh;
    line-height: 3.8vh;
}
.loadingOut .top-btn p span {
  color: #ffffff;
  height: 3.8vh;
  line-height: 3.8vh;
  font-size: 1.4vmin;
}
.loadingOut .top-btn a {
    width: 15%;
    color: #04f7e8;
    font-size: 1.4vmin;
    height: 3.8vh;
    line-height: 3.8vh;
    display: inline-block;
    text-align: center;
    float: right;
}
.loadingOut .top-btn a:hover {
  color: #ff007e;
}        
        

.a1 .title{
	width: 100%;
    height: auto;
	margin: 4% 0;
    text-align: center;
}
    

/*區塊*/
.a1,.a2,.a3,.a4{
  width: 100%;
  padding: 1% 0;
  box-sizing: border-box;
  display: block;
}
.a1 {
}

  
.a1 .step {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
  font-size: 0;
}
.a1 .step li {
  width: 48%;
  padding: 2%;
  float: left;
  display: inline-block;
  position: relative;
}
.a1 .step li img {

}
    

.a1 .step li .loading {
  position: absolute;
  z-index: 99;
  top: 43%;
  left: 0%;
  text-align: center;
  width: 100%;
}
 
 .a1 .step li .loading04 {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 40%; 
  left: 0%;
}    

.a1 .loading p ,.loading04 p {
	font-size: 3vmin;
	line-height: 4vmin;
	color: #FFFFFF;	
}    
    
.a1 .step li .loading a {
  color: ##00ffe4;
  font-size: 3vmin;
  font-weight: bold;
  text-decoration: underline;
}
.a1 .step li .loading span {
  color: #FFFFFF;  

}
.a1 .step li .loading.in .menber {
  width: 40%;
  color:  #e8ddcb;
  font-size: 3vmin;
  line-height: 5vmin;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.a1 .step li .loading.in span {
  color: #FF0004;
  font-size: 3vmin;
  line-height: 5vmin;
  font-weight: bold;
  display: inline-block;
}
    
.a1 .index-content {
  width: 100%;
  height: auto;
  margin: 1% 0;
 
}

.a1 .index-content li {
    width: 100%;
    height: auto;
    color: #ffffff;
    font-size: 2.5vmin;
    line-height: 4vmin;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: center;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;

    }
 
/*活動內容*/
.a2 {
 
}
.a2 .title {
    width: 100%;
    height: auto;
    margin: 3% 0;
    text-align: center;  
    } 

.a2 .index-content {
  width: 100%;
  height: auto;
  margin: 2% 0;
 
}

.a2 .index-content li {
    width: 100%;
    height: auto;
    color: #FFFFFF;
    font-size: 2.5vmin;
    line-height: 4vmin;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: center;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;

    }

.a2 .a2-box {
  width: 100%;
  min-height: 110vh;
  box-sizing: border-box;
  float: left;
  margin: 3% 0; 
}
    
.a2 .a2-box .box-01 {
  margin-left: 0;
}     
       
.a2 .a2-box li {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    margin: 5% auto;
} 

    
.a2 .a2-box li a {
 width: 33vw;
  
}  

/*立即儲值*/
.stored {
    background-image: url(../images/btn-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 8%;
    left: 11%;
}

/*領取獎勵*/
.virtual {
  background-image: url(../images/btn-3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 8%;
  left: 50%;
    
}

/*不可領取-領取獎勵灰*/
.no-virtual {
  background-image: url(../images/btn-5.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;    
	bottom: 8%;
    left: 50%; 
}

.a2 .a2-box .box-5000 {
    width: 100%;
    height: auto;
    float: left;
    margin: 3% 0;
    position: relative;
}    
    
/*按扭*/
.box-5000 .stored-5000 {
    background-image: url(../images/btn-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 131px;
    height: 34px;
    z-index: 10;
    bottom: -25%;
    left: 11%;
}

    
/*虛寶*/
.box-5000 .virtual-5000 {
background-image: url(../images/btn-3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 131px;
    height: 34px;
    z-index: 10;
    bottom: -25%;
  left: 51%; 
}    
    
/*不可領取*/
.box-5000 .no-virtual-5000 {
  background-image: url(../images/btn-5.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute; 
  width: 131px;
    height: 34px;
    z-index: 10;
    bottom: -25%;
  left: 51%; 
   
}





.a3 {
}
.a3 ul {
  padding: 0 3%;
}
.a3 ul li {
  color: #fff5cc;
  font-size: 3vmin;
  line-height: 5vmin;
  margin: 3% 0;
}


.a3 ul li a{
	color:#0fe0ff;
}
.a3 ul li a:hover{
	color:#F28587;
}

.a3 ul li #icon01{
	width: 4%;
    
    height: auto;
    padding: 2.45% 0;
	background-image: url("../images/number.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  
}

.a3 ul li #icon02{
	width: 4%;
    height: auto;
  padding: 2.45% 0;
	background-image: url("../images/number.png");
	background-position: 0px 12.5%;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}
.a3 ul li #icon03{
	width: 4%;
    height: auto;
  padding: 2.45% 0;
	background-image: url("../images/number.png");
	background-position: 0px 25%;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;

}

.a3 ul li #icon04{
	width: 4%;
    height: auto;
  padding: 2.45% 0;
	background-image: url("../images/number.png");
	background-position: 0px 37.5%;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}

.a3 ul li #icon05{
	width: 4%;
    height: auto;
  padding: 2.45% 0;
	background-image: url("../images/number.png");
	background-position: 0px 50%;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}

.a3 ul li #icon06{
	width: 4%;
    height: auto;
  padding: 2.45% 0;
	background-image: url("../images/number.png");
	background-position: 0px 62.5%;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}
.a3 ul li #icon07{
	width: 4%;
    height: auto;
  padding: 2.45% 0;
	background-image: url("../images/number.png");
	background-position: 0px 75%;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}
.a3 ul li #icon08{
	width: 4%;
    height: auto;
  padding: 2.45% 0;
	background-image: url("../images/number.png");
	background-position: 0px 87.5%;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}
.a3 ul li #icon09{
	width: 4%;
    height: auto;
  padding: 2.45% 0;
	background-image: url("../images/number.png");
	background-position: 0px 100%;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}




/*-------------------------------footer-----------------------------------*/

.footer {
  width: 100%;
  min-height: 70px;
  max-height: 100px;
  /* [disabled]background-color: rgba(0,0,0,1.00); */
  z-index: 999;
  bottom: 0;
  padding: 1% 0;
  position: relative;
  box-sizing: border-box;
  background-color: #000000;
}
.footer .footer-ul{
  overflow: hidden;
}
.footer .footer-ul .footer-li{
  float:left;
  display: inline-block;
}
.footer .f-1{
  width: 20%; 
  text-align: right;
  }
.footer .f-2{
  width: 70%;  
  text-align: center;
  }
.footer .f-3{
  width: 10%;  
  text-align: left;
  }
.footerr img{
  position: relative;
}
.footer .footer_type {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
  font-size: 1.2vmin;
  line-height: 2vmin;
  text-align: left;
}
.footer .footer_type span {
  padding: 0 1%;
  color: #D5D5D5;
}

.footer .footer_type a {
  color: #2D1400;
}
.footer .footer_type a:hover {
	color: #ff6a1f;
}
.footer .footer_caveat {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
  font-size: 1.2vmin;
  line-height: 3vmin;
  color: #c2c3c4;
  text-align: center;
  padding: 1%;
}

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/


/*----------------------------------lightbox---------------------------*/

/*分享成功*/
#reach .content h3 {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
	font-size: 4vmin;
	line-height: 40px;
	font-weight: bold;
	color: #003;
	text-align: center;
	display: block;
	height: 40px;
	width: 100%;
}
#reach .content .word {
	width: 100%;
  padding: 2% 0;
  box-sizing: border-box;
}
#reach .content p {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
  color: #EB0000;
  font-size: 2vmin;
  text-align: center;
  line-height: 24px;
}

/*序號框*/
.serial{
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
	font-size: 3.5vmin;
	line-height: 40px;
	color: #FFF;
	background-color: #036;
	height: 40px;
	width: 80%;
	padding-right: 10px;
	padding-left: 10px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
  border-radius: 2px;
	
}
input[type="button"].btn-default{
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
	font-size: 3.5vmin;
	line-height: 30px;
	color: #FFF;
	background-color: #09F;
	text-align: center;
	display: block;
	width: 30%;
  border-radius: 3px;
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
		
	}
input[type="button"].btn-default:hover{
	background-color: #0CF;		
	}

/*分享不不不成功*/
#reach-no .content h3 {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
	font-size: 3.5vmin;
	line-height: 8vmin;
	font-weight: bold;
	color: #003;
	text-align: center;
	display: block;
	height: 8vmin;
	width: 100%;
}



/*-----------------------------------------------------------------lightbox------*/
/* 設定好背景層的樣式以及位置 */
.lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;/* 預設透明度為 0，觸發 :target 後，利用動畫效果調整透明度 */
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	overflow: hidden;
	z-index: 99999;
}
/* 設定內容的樣式及位置(白底區塊) */
.lightbox-target .content {
  width: 90%;
  height: auto;
  background: #fff;
  color: #333;
  margin: auto;
  padding: 1%;
  position: relative;
  top: calc(100vh/3);
  left: 5%;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid #fff;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  display: inline-block;
  overflow: hidden;
}
/* 設定圖片的樣式及位置，利用 */
.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;/* 預設寬高為 0，觸發 :target 後，利用動畫效果展開寬與高 */
  max-width: 0%;
  border: 3px solid #fff;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
/* 當 :target 觸發後，index-target 的透明度為 1；content &amp; img 的寬高為 100% */
.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}
.lightbox-target:target .content, .lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}
.lightbox-target:target .lightbox-close {
  top: calc(100vh/3);
}

/* 關閉 Lightbox 按鈕的位置及樣式 */
.lightbox-close {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 0 0 0 30px;
  box-sizing: border-box;
  background: #139dd7;
  color: #fff;
  position: absolute;
  top: 20%;
  right: 5%;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
/* 利用偽元素做出 \ 以及 / 的線條，合併就變成 X 囉 */
.lightbox-close:before, .lightbox-close:after {
  content: " ";
  display: block;
  height: 20px;
  width: 1px;
  background: #fff;
  position: absolute;
  left: 17px;
  top: 2px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.lightbox-close:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/

/*------------------------登入前左邊框框--------------------------*/

/*頁籤*/
.abgne_tab {
	clear: left;
	width: 100%;
}
ul.tabs {
 width: 100%;
}

ul.tabs li {
  float: left;
  height: 3rem;
  width: 50%;
  border-bottom: thin solid #DEDEDF;
  box-sizing: border-box;
}

ul.tabs li a {
  cursor: pointer;
  display: block;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
  font-size: 4vmin;
  color: #000;
  line-height: 3rem;
  text-align: center;
  box-sizing: border-box;
}
ul.tabs li a:hover {
	color: #ff6000;
  border-bottom: 2px solid #FF6000;
}
ul.tabs li.active a {
  color: #ff6000;
  border-bottom: 1px solid #FF6000;
}
ul.tabs li.active a:hover, ul.tabs li:active a {
  color: #ff6000;
  border-bottom: 1px solid #FF6000;
}

div.tab_container {
	clear: both;
	overflow: hidden;
	width: 100%;
}
div.tab_container .tab_content {
	position: relative;
	overflow: hidden;
  padding: 2%;
}


.login-module {
	width: 100%;
	overflow: hidden;
}

/*內容小標*/
.tab_content h2 {
	font-size: 3vmin;
}

/*驗證碼*/
.captcha-box{
 width: 100%;
 overflow: hidden;
 display: block;
 margin: 2% 0;
 box-sizing: border-box;
}
.tab_content  .captcha {
 width: 50%;
 float: left;
 margin: 0;
}
.lightbox-target-loading:target .tab_content  .captcha-img {
 max-width: 25%;
 max-height: 40px;
 padding: 1%;
  margin: -1% 0 0 0;
}

/*看不清換一張*/
.login-noeye {
 width: 25%;
 height: 40px;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 font-size: 3vmin;
	line-height: 40px;
	color: #09F;
	cursor: pointer;
 text-align: center;
}
.login-noeye:hover {
	color: #ff7700;
}

/*錯誤*/
.tab_content  .error {
 width: 100%;
 height: 20px;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 font-size: 3vmin;
 line-height: 20px;
 color: #FF0004;
 display: block;
}
/*忘記密碼*/
.login-forgetpw  {
 width: 100%;
 height: 20px;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 font-size: 3vmin;
 line-height: 20px;
	color: #09F;
 text-align: right;
 display: block;
}

/*其它登入方式*/
.login-other-p {
 font-size: 3vmin;
 line-height: 30px;
 font-weight: 500;
 color: #000;
 height: 30px;
 width: 100%;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 border-top: thin solid #CCCCCC;
}
/*其它登入方式*/
.login-other {
	width: 100%;
	margin-bottom: 5%;
	overflow: hidden;
}
.login-other li {
	float: left;
	margin-right: 3%;
}
.login-other li a {
 max-width: 40px;
 min-width: 40px;
 max-height: 40px;
 min-height: 40px;
 display: block;
}

/*按扭*/
input[type="button"]{
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 font-size: 4vmin;
 text-align: center;
 display: block;
 width: 100%;
 border-radius: 5px;
 cursor: pointer;
 border: 0px none;
 font-weight: bold;
  padding: 2%;
}

/*輸入框*/
input[type="text"],input[type="password"] {
	border: 1px solid #CCCCCC; /*背景色*/
	-moz-border-radius: 3px; /*Firefox*/
	-webkit-border-radius: 3px; /* Safari 和 Chrome*/
	border-radius: 3px; /* Opera 10.5+ */
	width: 100%;
  padding: 2.5% 2%;
	margin: 2% 0;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
  font-size: 3vmin;
  box-sizing: border-box;
}

/*登入*/
input[type="button"].login-in {
	color: #FFF;
	background-color: #ff7700;
}
input[type="button"].login-in:hover {
	background-color: #ff8d2a;
}
/*註冊*/
input[type="button"].login-register {
	color: #FFF;
	background-color: #2693ff;
}
input[type="button"].login-register:hover {
	background-color: #29a7ff;
}

/*註冊服條*/
.register-terms-box {
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 font-size: 3vmin;
	line-height: 30px;
	height: 30px;
	width: 100%;
	margin: 3% 0;
}
input[type="checkbox"].checkbox {
 width: 20px;
 height: 20px;
 
}
/*同意*/
.register-terms-box  .register-agree {
	color: #333;
}
/*服務條款*/
.register-terms-box  .register-terms {
	color: #ff6a1f;
}


/*說明*/
.explain {
 width: 100%;
 margin: 5% 0;
 padding: 2%;
 border: thin solid #CCCCCC;
 background-color: #FFFFFF;
}
.explain p {
 color: #9a9a9a;
  font-family: "PingFang SC Medium", "思源黑体 CN Medium";
 font-size: 3vmin;
 line-height: 16px;
 word-wrap: break-word;
 white-space: pre-wrap;
 text-align: justify;
 text-justify: inter-ideograph;
 -ms-text-justify: inter-ideograph; /*IE9*/
 -moz-text-align-last: justify; /*Firefox*/
 -webkit-text-align-last: justify;
}

/*確認按扭*/
.forget-btn {
 background-color: #FF6000;
 position: relative;
 margin: 5% auto;
 box-sizing: border-box;
 color: #FFFFFF;
 font-size: 4vmin;
 font-weight: bold;
 cursor: pointer;
}
.forget-btn:active ,.forget-btn:hover {
 background-color: #FF8339;
 display: block;
 color: #FFFFFF;
}


/*------------------------------------------------------------lightbox-loading-----*/
/* 設定好背景層的樣式以及位置 */
.lightbox-target-loading {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;/* 預設透明度為 0，觸發 :target 後，利用動畫效果調整透明度 */
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	overflow: hidden;
	z-index: 99999;
}
/* 設定內容的樣式及位置(白底區塊) */
.lightbox-target-loading .content {
  width: 90%;
  height: auto;
  background: #fff;
  color: #333;
  margin: auto;
  padding: 1%;
  position: relative;
  top: 10%;
  left: 5%;
  right: 0;
  bottom: 0;
  border: 3px solid #fff;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  display: inline-block;
}
/* 設定圖片的樣式及位置，利用 */
.lightbox-target-loading img {
  margin: auto;
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;/* 預設寬高為 0，觸發 :target 後，利用動畫效果展開寬與高 */
  max-width: 0%;
  box-sizing: border-box;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
/* 當 :target 觸發後，index-target 的透明度為 1；content &amp; img 的寬高為 100% */
.lightbox-target-loading:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}
.lightbox-target-loading:target .content, .lightbox-target-loading:target img {
  max-height: 100%;
  max-width: 100%;
}
.lightbox-target-loading:target .lightbox-close-loading {
  top: 10%;
}

/* 關閉 Lightbox 按鈕的位置及樣式 */
.lightbox-close-loading {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 0 0 0 30px;
  box-sizing: border-box;
  background: #139dd7;
  color: #fff;
  position: absolute;
  top: 20%;
  right: 5%;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
/* 利用偽元素做出 \ 以及 / 的線條，合併就變成 X 囉 */
.lightbox-close-loading:before, .lightbox-close-loading:after {
  content: " ";
  display: block;
  height: 20px;
  width: 1px;
  background: #fff;
  position: absolute;
  left: 17px;
  top: 2px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.lightbox-close-loading:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
  
  
  
}